body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    border: 3px solid white;
    background: #111;
}

#hud {
    font-size: 20px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#gameOver {
    margin-top: 20px;
}
