body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu {
    margin-top: 100px;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.buttons button {
    font-size: 20px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

canvas {
    display: none;
    margin: 50px auto;
    background: #111;
    border: 4px solid white;
}
