body {
    text-align: center;
    background: black;
    color: white;
    font-family: Arial;
}

canvas {
    border: 3px solid white;
    display: none;
    background: #111;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
}
